.search-city-input {
    border-radius: 15px !important;
}
.btn-localization {
    height: auto;
    width: 43px;
    border-radius: 100%;
    padding: 0;
    padding-bottom: 2px;
}
.search-input {
    position: relative;
}
.btn-search-icon {
    background: transparent;
    cursor: pointer;
    position: absolute;
    padding: 0;
    right: 5px;
    top: 50%;
    transform: translateY(-55%);
}
.btn-search-icon:hover {
   border-color: transparent;
}
.btn-search-icon:active, .btn-search-icon:focus {
    background: transparent !important;
    border-color: transparent !important;
}
/* .current-weather {
    border-style: solid;
    border-width: 1px;
    border-color: white;
} */
.city-text {
    font-size: 1.3em;
    font-weight: lighter;
}
.weather-text {
    color: white;
    font-size: 1.8em;
    font-weight: lighter;
}
.day-night-temperature {
    font-size: 1.2em;
}
.horizontally-scrollable {
    overflow-y: hidden;
}